[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=/home/aidan/dotfiles/scripts/run-alacritty.sh %u
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=(tabbed) Alacritty
GenericName=Terminal
Comment=(tabbed) A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Actions=New;
